<section id="gallery" class="gallery section-padding" data-scroll-index="5">
    <div class="container">
        <div class="gallery-details">
       <div class="row justify-content-center">
          <div class="col-lg-8">
             <div class="section-title">
                   <h2>The Top<span> Trips</span></h2>
             </div>
          </div>
       </div>
            <div class="gallery-box">
                <div class="gallery-content">
                      <div class="filtr-container">
                          <div class="row">

                              <div class="col-md-6">
                                  <div class="filtr-item">
                                    <img src="assets/images/marrakech.jpg" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#" class="nav-link">
                                            Marrakech
                                        </a>
                                        <p><span style="color: white;">20 tours</span><span style="color: white;">15 places</span></p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                              </div><!-- /.col -->

                   
                   <div class="col-md-6">
                      <div class="filtr-item">
                       <img src="assets/images/agadir2.png" alt="portfolio image"/>
                       <div class="item-title">
                          <a href="#" class="nav-link">
                             Agadir
                          </a>
                          <p><span style="color: white;">12 tours</span><span style="color: white;">9 places</span></p>
                       </div> <!-- /.item-title-->
                    </div><!-- /.filtr-item -->
                   </div><!-- /.col -->

                              <div class="col-md-6">
                                  <div class="filtr-item">
                                    <img src="assets/images/tamraght.jpg" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#" class="nav-link">
                                            Tamraght
                            </a>
                                        <p><span style="color: white;">25 tours</span><span style="color: white;">10 places</span></p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                              </div><!-- /.col -->

                              <div class="col-md-6">
                                  <div class="filtr-item">
                                    <img src="assets/images/tangier1 (2).jpg" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#" class="nav-link">
                                            Tangier 
                                        </a>
                                        <p><span style="color: white;">18 tours</span><span style="color: white;">9 places</span></p>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                              </div><!-- /.col -->
                     
                          </div><!-- /.row -->

                      </div><!-- /.filtr-container-->
                </div><!-- /.gallery-content -->
            </div><!--/.galley-box-->
        </div><!--/.gallery-details-->
    </div><!--/.container-->

</section><!--/.gallery-->

<!-- top offeres Section Start -->
<section  class="packages" data-scroll-index="1" id="offeres">
    <div class="container">
    <div class="row justify-content-center">
       <div class="col-lg-8">
          <div class="section-title">
                <h2>The Orginazed<span> Trips</span></h2>
          </div>
       </div>
    </div>
        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="assets/images/marrakech.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Marrakech <span class="pull-right">$499</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 3 Days 2 nights
                                    </span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <i class="fa fa-angle-right"></i> food facilities
                                 </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>254 reviews</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="assets/images/agadir2.png" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Agadir <span class="pull-right">$1499</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 6 Days 7 nights
                                    </span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <i class="fa fa-angle-right"></i>  Free food 
                                 </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>344 reviews</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->
                
                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="assets/images/dakhla.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Dakhla <span class="pull-right">$1199</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 5 Days 6 nights
                                    </span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                 </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>544 reviews</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->
                
                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="assets/images/tamraght.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Tamraght <span class="pull-right">$799</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 4 Days 5 nights
                                    </span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                 </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>625 reviews</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->
                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="assets/images/tangier1 (2).jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Tangier <span class="pull-right">$799</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 4 Days 5 nights
                                    </span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                 </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>625 reviews</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->
                
                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="assets/images/rabat.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Rabat <span class="pull-right">$999</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 4 Days 4 nights
                                    </span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                 </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>379 reviews</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.packages-content-->
    </div><!--/.container-->

</section><!--/.packages-->

<!-- services section start -->
<div class="services_section layout_padding" data-scroll-index="2" id="service" style="top: 0;">
 <div style="height: 100px;"></div>
 <div class="container">
    <div class="row justify-content-center">
       <div class="col-lg-8">
           <div class="section-title">
                <h2>The <span> Services</span> </h2>
           </div>
       </div>
   </div>
    <p class="services_text">These are the different services we provide on our trips that may be of interest to you.</p>
    <div class="services_section_2">
       <div class="row">
          <div class="col-md-4">
             <div ><img src="assets/images/transport.jpg" style="height:445px; border-radius: 10% 10% 10% 10%;" class="services_img"></div>
             <div class="btn_main"><a class="nav-link" href="#">transportation</a></div>
          </div>
          <div class="col-md-4">
             <div><img src="assets/images/food.png " style="height:445px; border-radius: 10% 10% 10% 10%;" class="services_img"></div>
             <div class="btn_main "><a class="nav-link" href="#">Food</a></div>
          </div>
          <div class="col-md-4">
             <div><img src="assets/images/hotel.jpg" style="height:445px; border-radius: 10% 10% 10% 10%;" class="services_img"></div>
             <div class="btn_main"><a class="nav-link" href="#">Housing</a></div>
          </div>
       </div>
    </div>
 </div>
</div>
<!-- services section end -->
<!-- about section start -->
<section class="about_section section-padding" data-scroll-index="3" id="about">
<div class="about_section layout_padding">
 <div class="container-fluid">
    <div class="row">
       <div class="col-md-6">
          <div class="about_taital_main">
             <h1 class="about_taital" style="text-transform: uppercase;">About<span> Us</span> </h1>
             <p class="about_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
             <div class="readmore_bt"><a class="nav-link" href="#">Read More</a></div>
          </div>
       </div>
       <div class="col-md-6 padding_right_0">
          <div><img src="assets/images/image4.jpg" class="about_img" style="border-radius: 10% 10% 10% 10%;"></div>
       </div>
    </div>
 </div>
</div>
</section>
<!-- about section end -->
<!-- choose section start -->
<div class="choose_section layout_padding">
 <div class="container">
    <h1 class="choose_taital" style="text-transform: uppercase;">Why <span>Choose Us</span></h1>
    <p class="choose_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
    <div class="read_bt_1"><a class="nav-link" href="#">
       Read the Reste</a></div>
    <div class="newsletter_box">
       <h1 class="let_text">Start talking with us</h1>
       <div class="getquote_bt"><a class="nav-link" href="#">Register With us</a></div>
    </div>
 </div>
</div>
