<section class="login_section layout_padding">
<div class="image-blur"></div>
        <div class="titre" style="height: 15vh;"></div>
        <div class="inner">
            <div class="left"></div>
            <div class="right">
                <div class="form-box">
                    <form > 
                        <div class="image" style="margin-left: 100px;">
                            <img src="assets/images/LOGOB.png" style="width: 40%; height: 40%; ">
                        </div>  
                        <h2>Login Admin</h2>
                        <div class="form-group">
                            <label htmlFor="email">Email:</label>
                            <input type="email" name="email" id="email" >
                        </div>
                        <div class="form-group">
                            <label htmlFor="password">Password:</label>
                            <input type="password" name="password" id="password"  >
                        </div>
                        <input type="submit"  value="Login"/>
                    </form>
                </div>
            </div>
        </div>
</section>